/* Main theme */
body {
	background: white;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 95%;
}


/* Page body */
div.wrapper {
	max-width: 67em;
	margin: 0 auto;
	position: relative;
}
div.head-base {
	position:absolute;
	top:0;
	height:5em;
	width: 100%;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top, #EDF3FF 0%, #FFF 100%);
	background-image: linear-gradient(top, #EDF3FF 0%, #FFF 100%);
	z-index: -1;
}
div.head {
	position: absolute;
	top: 0;
	left: 12em;
	right: 0;
	padding-left: 1em;
}
div#head-logo a {
	display: block;
	/*width: 12em;
	height: 130px;*/
	background-repeat: no-repeat;
	background-position: center center;
	text-decoration: none;
	font-size: 150%;
	text-align: center;
}
div#head-name  {
	float: left;
	color: white;
	font-size: 250%;
}
div#head-name a {
	color: white;
	text-decoration: none;
}
div.section {
	max-width: 50em;
	margin: 0 auto;
	border: solid 1px grey;
}
div.body, div.foot {
	margin-left: 12em;
	padding: 1em;
	padding-top: 3em;
	padding-right: 0;
	/*border: solid 1px #99AAFF;*/
	/*background: white;*/
}
div.foot {
	padding-bottom: 2em;
	overflow: hidden;
}
div.foot-block {
	float: left;
	padding: 0 1em;
}
div.foot-block ul {
	margin: 0;
}
#footer-icons {
	list-style-type: none;
	margin: 0;
	padding: 0.2em;
	float: right;
	text-align: right;
}
div.foot hr {
	clear: left;
}
div.content-body {
	float: left;
	border: solid 1px grey;
}
div.panel {
	position: absolute;
	top: .1em;
	width: 12em;
}



/* Common elements */
a {
	color: #0070b6;
}
a:hover, a:focus {
	color: #008ee4;
}
table  {
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	margin: 0.5em 0;
}
table tr th, table tr td {
	padding: 0.2em 0.5em;
	border: solid 1px white;
}
table tr th {
	border: solid 1px #ddd;
}
table tr th, table tr th a {
	font-weight: bold;
	/*background-color: #606060;
	color: white;*/
}
table tr td {
	background-color: #EEE;
}

table tr:nth-child(odd) td {
	background-color: #DDD;
}
label {
	display: block;
	font-weight: bold;
}
textarea {
	width: 100%;
	height: 15em;
}


/* Menu styles */
div.head div.menu {
	font-size: 85%;
	float: right;
}
div.head div.menu h5 {
	display: none;
}
div.head div.menu ul {
	margin: 0;
	padding: 0;
	text-align: right;
}
div.head div.menu > ul > li {
	display: inline-block;
	margin: 1em;
}
div.panel div.menu {
	border: solid 1px #AAA;
	margin: 20px 0;
	padding: 1em;
	font-size: 85%;
}
div.panel div.menu h5 {
	font-size: 85%;
	margin: 0 0 0.5em;
	border-bottom: 1px solid #d6d6d6;
}
div.panel div.menu ul {
	margin: 0;
	padding: 0 0 0.25em 1em;
}
div.panel div.menu li {
	margin: 0;
}
ul li.leaf {
	list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHBAMAAAA2fErgAAAAD1BMVEX///+/v7+Li4sAAADAwMBFvsw8AAAAAXRSTlMAQObYZgAAAB1JREFUCFtjYAADYwMGBmYVZSDhKAwkFJWhYiAAAB2+Aa/9ugeaAAAAAElFTkSuQmCC);
	list-style-type: square;
}
ul li.collapsed {
	list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABFJREFUCB1jVmCGQClmEWYOAAZ8AMy3HPLXAAAAAElFTkSuQmCC);
	list-style-type: disc;
}
ul li.expanded {
	list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABJJREFUeJxj+MdQw2DBIMAABgAUsAHD3c3BpwAAAABJRU5ErkJggg==);
	list-style-type: disc;
}

/* User info bar */
div#session {
	position: absolute;
	top:0;
	right: 0;
}
div#session ul {
	list-style: none;
	margin: 0;
}
div#session li {
	float: left;
	margin: 0.25em 0.75em 0 0 ;
}

/* Forms */
div.node-edit-body, div.node-edit-title, div.node-edit-submit {
	margin: 1em 0;
}
div.node-edit-title input[type="text"], div.node-edit-body textarea {
	width: 100%;
}
div.node-edit-submit input[type="button"] {
	margin: 0 1em 0 0;
}

/* Discussion threads */
div.comment_container {
	margin-top: 1em;
}
div.comment_user {
	float: left;
}
div.comment {
	padding-left: 65px;
	margin-bottom: 1em;
}
span.comment_title {
	font-weight: bold;
}
span.comment_rating {
	color: #666;
	font-variant: small-caps;
}
span.comment_date {
	color: #666;
	font-variant: small-caps;
}
.comment_footer {
	overflow: hidden;
	font-variant: small-caps;
}
.comment_footer .button {
	float: right;
	margin: 0 0.4em;
}
div.comment_divider {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
div.comment_replies {
	margin-left: 4em;
}
a.new {
	color:#ba0000;
}


/* Categories */
#catlinks {
	text-align: left;
}
.catlinks {
        border: 1px solid #aaa;
        background-color: #f9f9f9;
        padding: 5px;
        margin-top: 1em;
        clear: both;
}
.catlinks ul {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
	vertical-align: middle !ie;
}
.catlinks li {
	display: inline-block;
	line-height: 1.25em;
	border-left: 1px solid #AAA;
	margin: 0.125em 0;
	padding: 0 0.5em;
	display: inline;
}
.catlinks li:first-child {
	padding-left: 0.25em;
	border-left: none;
}

/* Pager */
div#paginator {
	text-align: center;
	padding: 2em 0 1em 0;
}
div.pagination {
	display: block;
	font-size: 1em;
	font-weight: bold;
	clear: both;
}
div.pagination ul {
	padding: 0;
}
div.pagination li {
	display: inline;
}
div.pagination a {
	margin: 0 3px;
	padding: 2px 6px;
	font-weight: normal;
	border: 1px solid #8899af;
	background: #ccddee;
	color: #092146;
}
div.pagination a:hover {
	border: 1px solid #8899af;
	background: #99bbdd;
}
div.pagination .current {
	font-weight: bold;
}
div.pagination span {
	margin: 0 3px;
	padding: 2px 6px;
}
div.head div.pagination {
	float: left;
}
div.head div.pagination h5 {
	display: none;
}


/* Form fields */
input.field-uri {
	width: 100%;
	box-sizing: border-box;
}
input.field-label {
	width: 100%;
	box-sizing: border-box;
}
input.field-date {
	width: 100%;
	box-sizing: border-box;
}
pre.field-default {
	white-space: normal;
}

/* CodeMirror editor */
.CodeMirror {
	border: 1px solid #ccc;
	height: auto;
}
.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
}
