[submodule "node_modules/rdf"]
	path = node_modules/rdf
	url = git://github.com/Acubed/node-rdf.git
	semver = *
	npm = rdf
[submodule "node_modules/sparql-spin.src"]
	path = node_modules/sparql-spin.src
	url = git://github.com/Acubed/sparql-spin-js3.git
	semver = *
[submodule "node_modules/jsonschema"]
	path = node_modules/jsonschema
	url = git://github.com/Acubed/jsonschema.git
	semver = *
	npm = jsonschema
[submodule "node_modules/contenttype"]
	path = node_modules/contenttype
	url = git://github.com/Acubed/contenttype.git
	semver = ~1
	npm = contenttype
[submodule "node_modules/mongodb"]
	path = node_modules/mongodb
	url = http://github.com/mongodb/node-mongodb-native.git
	semver = ~1
	npm = mongodb
[submodule "node_modules/bson"]
	path = node_modules/bson
	url = git://github.com/mongodb/js-bson.git
	npm = bson
[submodule "node_modules/mime"]
	path = node_modules/mime
	url = git://github.com/broofa/node-mime
	npm = mime
[submodule "theme/codemirror"]
	path = theme/codemirror
	url = http://marijnhaverbeke.nl/git/codemirror
	url = git://github.com/marijnh/CodeMirror
[submodule "node_modules/uri-templates"]
	path = node_modules/uri-templates
	url = https://github.com/geraintluff/uri-templates.git
	semver = *
	npm = uri-templates
[submodule "node_modules/iri"]
	path = node_modules/iri
	url = git://github.com/Acubed/node-iri.git
	semver = ~1
	npm = iri
[submodule "node_modules/jade"]
	path = node_modules/jade
	url = https://github.com/jadejs/jade.git
	npm = jade
	semver = ~1.7.0
[submodule "node_modules/character-parser"]
	path = node_modules/character-parser
	url = https://github.com/ForbesLindesay/character-parser.git
	npm = character-parser
[submodule "node_modules/constantinople"]
	path = node_modules/constantinople
	url = https://github.com/ForbesLindesay/constantinople.git
	npm = constantinople
[submodule "node_modules/acorn-globals"]
	path = node_modules/acorn-globals
	url = https://github.com/ForbesLindesay/acorn-globals.git
	npm = acorn-globals
[submodule "node_modules/acorn"]
	path = node_modules/acorn
	url = http://marijnhaverbeke.nl/git/acorn
	npm = acorn
[submodule "node_modules/void-elements"]
	path = node_modules/void-elements
	url = git://github.com/hemanth/void-elements
	npm = void-elements
[submodule "node_modules/with"]
	path = node_modules/with
	url = https://github.com/ForbesLindesay/with.git
	npm = with
