body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.25;
}

.row {
	width: 940px;
	max-width: 100%; /*min-width: 768px;*/
	margin: 0 auto;
	box-sizing: border-box;
}

.main {
	width: 75%;
	padding: 0 15px;
	position: relative;
	float: right;
	box-sizing: border-box;
}

.full {
	width: 100%;
	float: left;
	min-height: 1px;
	padding: 0 15px;
	position: relative;
	box-sizing: border-box;
}

.nav {
	width: 25%;
	padding: 0 15px;
	position: relative;
	float: left;
	box-sizing: border-box;
	font-color: #DDDCCC;
}

.nav ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 17px 0;
}

.nav li {
	display: block;
	list-style: none;
	margin: 0 0 12px 0;
}

li.active, li.active a {
	color: #444444;
	font-weight: bold;
}

a:hover {
	color: #3D68C2;
}

a, :link {
	color: #5077C8;
	text-decoration: none;
	line-height: inherit;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],
	input[type="email"], input[type="number"], input[type="search"], input[type="tel"],
	input[type="time"], input[type="url"], textarea
{
	box-sizing: border-box;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	border: 1px solid #DDD;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: rgba(0, 0, 0, 0.85);
	display: block;
	font-size: 14px;
	margin: 0 0 12px 0;
	padding: 6px;
	width: 100%;
}

hr {
	border: solid #DDD;
	border-width: 1px 0 0;
	clear: both;
	margin: 22px 0 21px;
	height: 0;
}

h1 {
	margin-top: 17px;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 1em;
	margin-bottom: 0.75em;
}

dl {
	margin-bottom: 0.75em;
}

.buttons {
	text-align: right;
}

.buttons>input, .buttons>a {
	margin-left: 2em;
}

.nav a>span {
	float: right;
	font-weight: bold;
	color: #006600;
}

input.field-password-a, input.field-password-b {
	display: inline;
	width: 16em;
	margin-right: 1em;
}

.field-password-a+small, .field-password-b+small {
	font-size: 75%;
}

form {
	margin: 0;
	padding: 0;
}

code {
	font-weight: inherit;
	background: #B8C5E0;
	padding: 0px 3px 1px;
}

ul.bundles {
	display: block;
	list-style: none;
	margin: 0;
}

ul.bundles li {
	list-style: none;
	margin: 0 0 12px 0;
}

.breadcrumb {
	list-style: none;
	overflow: hidden;
	margin: 20px 0 20px;
	padding: 0;
}

.breadcrumb li {
	float: left;
}

.breadcrumb li a {
	color: black;
	text-decoration: none;
	padding: 6px 0 6px 48px;
	background: #DDD;
	position: relative;
	display: block;
	float: left;
}

.breadcrumb li a:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid #DDD;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 100%;
	z-index: 2;
}

.breadcrumb li a:before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	margin-left: 1px;
	left: 100%;
	z-index: 1;
}

.breadcrumb li:first-child a {
	padding-left: 20px;
}

.breadcrumb li:last-child a, .breadcrumb li:last-child a:hover {
	background: transparent;
}

.breadcrumb li:last-child a:after {
	border: 0;
}

.breadcrumb li a:hover {
	background: #CCC;
}

.breadcrumb li a:hover:after {
	border-left-color: #CCC !important;
}
